.top{
    width: 100vw;
    height: 60px;
    background-color: rgb(6, 146, 202);
    display: flex;
}
.top .left{
    height: 100%;
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.list{
    display: flex;
    list-style: none;
}
.listItem{
    padding: 0px 20px;
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
}

.top .left .list .listItem span{
    font-weight: 400;
    font-size: 16px;
}
.top .left .list .one{
    border-right: 2px solid gray;
}
.top .right{
    height: 100%;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mark{
    background-color: #ffffff;
    padding: 5px 7px;
    border-radius: 50%;
    color: rgb(6, 146, 202);;
}

/* ----------------------------- center ----------------------------- */
.center{
    width: 100vw;
    height: 80px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
}
.center .logo{
    margin-left: 100px;
    font-size: 28px;
}

/* ------------------bottom---------------------------- */
.bottom{
    width: 100vw;
    height: 70px;
    background-color: rgb(0, 0, 0);
}
.bottom .menu{
    width: 1300px;
    height: 100%;
    margin-left: 100px;
    border-left: 1px solid gray;
    display: flex;
}
.bottom .menu .homeIcon{
    width: 120px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    border-right: 1px solid gray;
}
.bottom .menu .homeIcon i{
    font-size: 35px;
}
.homeMenu, .homeMenu1, .homeMenu2, .homeMenu3, .homeMenu4, .homeMenu5, .homeMenu6{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    border-right: 1px solid gray;
}
.bottom .menu .homeMenu, .bottom .menu .homeMenu1{
    width: 220px;
    height: 100%;
}
.homeMenu2, .homeMenu5, .homeMenu6{
    width: 150px;
    height: 100%;
}
.homeMenu3{
    width: 100px;
}
.homeMenu4{
    width: 190px;
}
